body {
    font: "Trebuchet MS", Verdana, sans-serif;
    background-color: #5c87b2;
    color: #696969;
}

h1 {
    color: #ffffff;
}
h2 {
    border-bottom: 3px solid #cc9900;
    font: Georgia, serif;
    color: #996600;
}

#main {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0px 4px 4px 4px;
}
